{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    [
      "babel-plugin-inline-import",
      {
        "extensions": [
          ".json",
          ".gql",
          ".graphql"
        ]
      }
    ],
    [
      "@babel/plugin-syntax-object-rest-spread"
    ],
    [
      "babel-plugin-root-import",
      {
        "rootPathSuffix": "src"
      }
    ],
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ]
  ]
}
