// =====================================================
//    COLORS
// =====================================================

$black: #000000;
$white: #ffffff;


$dark1: #1b1b1b; //bck


// =====================================================
//    Fonts
// =====================================================
$poppins: 'Poppins', sans-serif;

// =====================================================
//    Fonts Weight
// =====================================================
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
// =====================================================
//    Other
// =====================================================
