header{
  display: block;
  text-align: center;
  padding-top: 80px !important;

  h2{
    font-family: $poppins;
    font-weight: $regular;
    font-size: 28px;
    color: $dark1;
  }
}

.product-dropdown{
  margin: auto;
  display: block;
  width: 140px;
  height: 26px;
  margin-top: 70px;
}

.column-chart{
  display: block;
  margin-top: 100px;
  z-index: -1;

  .apexcharts-canvas{
    margin: auto;

    .apexcharts-toolbar{
      display: none;
    }
  }
}

.datatable{
  display: block;
  max-width: 800px;
  margin: auto;
  margin-top: 100px;

  &-topLabels{
    font-weight: $regular;
    font-weight: $medium;
    color: rgba($black, 0.45);
    padding: 0 40px;
  }

  &-contentRow{
    margin-top: 10px;
    font-size: 17px;
    font-weight: $regular;
    color: rgba($black, 0.65);
    padding: 0 40px;
  }
}
